body {
	font-family: "Times New Roman", Times, serif;
	padding: 0;
	margin: 0;
}

/*Navigation Bar*/
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #00305e;
}

li {
  	float: left;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover {
  	background-color: #686663;
}

/*Title Section*/
.title {
  	text-align: center;
}

/*Table*/
.employerList {
	display: inline-block;
	width: 50%;
	margin-left: 40px;
}

table {
	border: 3px solid #00305e;
  	border-collapse: collapse;
  	width: 100%;
}

th, td {
  	padding: 10px;
  	text-align: left;
  	border-bottom: 1px solid #ddd;
}

th {
  background-color: #00305e;
  color: white;
  height: 24px
}

tr:hover {
	background-color: #f5f5f5;
}

/*Table Row Dropdown (appears on click)*/
.dropdownHidden {
	display: none;
	float: right;
	position: absolute;
	left: 680px;
	top: 225px;
}
.dropdownHidden li {
	float: none;
}

/*Map (image)*/
.map {
	display: inline-block;
	float: right;
	margin-right: 40px;
}
.map img {
	border-color: #00305e;
}
.map a {
	text-decoration: none;
}

.map a:hover {
	text-decoration: none;
}

/*Add Review Page*/

h2 {
	background-color: #00305e;
	color: white;
	padding: 5px;
	margin-top: 0;
}

textarea {
	resize: none;
	overflow-y: scroll;
}

.field {
	margin-top: 1px;
	margin-left: 5px;
	margin-bottom: 3px;
}

/*Add Review: Employer Info fields*/

.employerInfo {
	display: inline-block;
	float: left;
	width: 600px;
	border-style: solid;
	border-width: 3px;
	border-color: #00305e;
	margin-left: 10px;
}

.employerInfo p {
	margin-left: 5px;
	margin-bottom: 0;
	margin-top: 0;
}

.dropdownEmployers {
	margin-top: 20px;
	margin-bottom: 20px;
}

.employerInfoHidden {
	display: none;
}

/*Add Review: Review Info fields*/

.reviewInfo {
	display: inline-block;
	float: right;
	width: 600px;
	border-style: solid;
	border-width: 3px;
	border-color: #00305e;
	margin-right: 10px;
}

.reviewInfo p {
	margin-left: 5px;
	margin-bottom: 0;
	margin-top: 0;
}

.submit {
	background-color: #00305e;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 4px;
}

.submit:hover {
  background-color: #686663;
  color: white;
}

/*Employer Profile Page*/

.employerProfile {
	display: inline-block;
	width: 525px;
	margin-top: 10px;
	margin-left: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #00305e;
}

.employerProfile h2 {
	background-color: #00305e;
	color: white;
	padding: 5px;
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 40px;
}

.employerProfile p {
	margin-left: 10px;
	margin-top: 0;
}

.profileHeading {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 3px;
}

.reviewContainer {
	display: inline-block;
	float: right;
	width: 675px;
	margin-top: 10px;
	margin-right: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #00305e;
}

.reviewContainer h3 {
	background-color: #00305e;
	color: white;
	padding: 5px;
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 24px;
}

.employerProfile p {
	margin-left: 10px;
	margin-top: 0;
}

.reviewBox p {
	margin-left: 10px;
	margin-top: 0;
}

.reviewDate {
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 3px;
}

.reviewTitle {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: bold;
}